@font-face {
    font-family: 'Headline';
    src: url(../font/sofachrome\ rg.otf);
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 2.5rem;
    text-align: center;
    user-select: none;
    background-image: url('../image/Background/BackgroundOne.png');
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
}

/* Navigation */

nav {
    position: fixed;
    background-color: #3122448a;
    border-top: #5a189abb 4px solid;
    border-right: #5a189abb 4px solid;
    border-bottom: #5a189abb 4px solid;


    padding: 2%;
    text-align: end;
    padding-top: 2.3%;
    padding-right: 5%;
    left: -16.5%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 100;
}

#navImage {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    bottom: 20px;
    left: 32%;
}

nav div p {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

/* Navigation Animation */


.animateNavOpen {
    animation: navigationOpen 0.3s ease;
    position: fixed;
}

@keyframes navigationOpen {
    0% {
        left: -16.5%;
    }

    100% {
        left: 0;
        padding-right: 5%;
    }
}

.animateNavClose {
    animation: navigationClose 0.3s ease;
    position: fixed;
}

@keyframes navigationClose {
    0% {
        left: 0;
        padding-right: 4%;
    }

    100% {
        left: -16.5%;
    }
}

.animateNavCloseWhileGame {
    animation: navigationCloseWhileGame 0.3s ease;
    position: fixed;
}

@keyframes navigationCloseWhileGame {
    0% {
        left: 0;
        padding-right: 5%;
    }

    100% {
        left: -15%;
    }
}

.navLinks {
    position: relative;
    left: 2.5%
}

/* Style Headline and Text */

h1,
h2 {
    margin-top: 3%;
    font-family: 'Headline';
    font-size: 3rem;
    color: #ffffff;

}

h3 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 0;
}

h1,
h2,
h3,
p {
    text-shadow: 2px 2px 4px #000000;
}

mark {
    background-color: #00000000;
    color: white;
    font-style: italic;
    font-size: 2.2rem;
}

/* Style Game */

#startGame {
    display: none;
}

#field1,
#field2,
#field3,
#field4,
#field5,
#field6,
#field7,
#field8,
#field9 {
    width: 160px;
    height: 160px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #3E1F47;
}

.animationGameField:hover {
    animation: characterGameRunningHover 0.5s infinite alternate ease-in-out forwards;
}

@keyframes characterGameRunningHover {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(3deg);
    }

    66% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#gameField {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

#player1Score,
#player2Score,
#divPlayerOne,
#divPlayerTwo {
    font-size: 2.6rem;


}

#player1Score,
#player2Score {
    display: inline-block;

}



#gameTie {
    display: none;
    font-size: 7rem;
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    background-color: #0000005e;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 15px;

}

.character {

    height: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
}

/* Style Store */

#store {
    display: none;
}



#websiteExplText {
    font-size: 2rem;
    margin-top: 2%;
    text-align: justify;
    margin-right: 20%;
    margin-left: 20%;

}

#mark {
    font-weight: bold;
}

#score {
    position: absolute;
    right: 1%;
    top: 25%;
    text-align: end;

    background-color: #00000036;
    padding: 1%;
    border-radius: 15px;
}


#choosePlayerStore {
    width: 40%;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 15px;
    z-index: 10;
}

select {
    font-size: 2rem;
    border-radius: 15px;
    padding: 1%;
    margin-top: 2%;
    background-color: #000000b9;
    color: white;
    font-weight: bolder;
    border: black 3px solid;
    user-select: none;
    cursor: pointer;
}

option {
    font-size: 2rem;
    background-color: #00000011;
    color: white;
    font-weight: bolder;
    border: black 3px solid;
    user-select: none;
    cursor: pointer;
}

#ItemsPlayerOne,
#ItemsPlayerTwo {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
}

#store p {
    margin-right: 10%;
    margin-left: 10%;
}

/* Buy Character */

#StandardItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
}

#item1,
#item2,
#item3 {
    border: #5a189abb 4px solid;
    border-radius: 15px;
    min-height: 500px;
    max-height: 700px;
    background-color: #3122448a;

}

#Background1,
#Background2,
#Background3 {
    width: 100%;
    border-radius: 15px;
    filter: grayscale(60%);
}

#schloss1,
#schloss2,
#schloss3 {
    position: absolute;
    width: 32%;
    height: 54%;
    z-index: 1;
    top: 62%;
    transition: 0.3s ease;
}

#schloss1 {
    position: absolute;
    left: 0.6%;
}

#schloss2 {
    position: absolute;
    left: 34%;
}

#schloss3 {
    position: absolute;
    left: 67.4%;
}

#schloss1:hover,
#schloss2:hover,
#schloss3:hover {
    opacity: 0.5;
}

#item1:hover #Background1,
#item2:hover #Background2,
#item3:hover #Background3 {
    filter: grayscale(0%);
}

#item10,
#item11,
#item12,
#item19,
#item20,
#item21 {
    background-color: #3122448a;
    border: #5a189abb 4px solid;
    border-radius: 15px;
    min-height: 500px;
    max-height: 700px;

}

#item10 #character1,
#item11 #character2,
#item12 #character3,
#item19 #character4,
#item20 #character5,
#item21 #character6 {
    height: 50%;
    padding-top: 12%;
    filter: grayscale(100%);
    transition: 0.5s;
}

#item10:hover #character1,
#item11:hover #character2,
#item12:hover #character3,
#item19:hover #character4,
#item20:hover #character5,
#item21:hover #character6 {
    filter: grayscale(0%);
    transition: 0.5s;
}

#item10:hover #schloss10,
#item11:hover #schloss11,
#item12:hover #schloss12,
#item19:hover #schloss19,
#item20:hover #schloss20,
#item21:hover #schloss21 {
    opacity: 0.5;
}

#item10 #schloss10,
#item11 #schloss11,
#item12 #schloss12,
#item19 #schloss19,
#item20 #schloss20,
#item21 #schloss21 {
    transition: 0.5s;
}

#item10 p,
#item11 p,
#item12 p,
#item19 p,
#item20 p,
#item21 p {
    font-size: 2.5rem;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#schloss10,
#schloss11,
#schloss12,
#schloss19,
#schloss20,
#schloss21 {
    position: absolute;
    width: 32%;
    z-index: 1;
    top: 62%
}

#schloss10,
#schloss19 {
    left: 0.6%;
}

#schloss11,
#schloss20 {
    left: 34%;
}

#schloss12,
#schloss21 {
    left: 67.4%;
}

.buyButton {
    background-color: #5a189abb;
    color: white;
    border-radius: 15px;
    padding: 2%;
    cursor: pointer;
    font-size: 2.5rem;
    margin-top: 10%;
    transition: 0.5s;
}

.buyButton:hover {
    background-color: #5a189a;
    color: #d1a9f8;
}

/* Buy Audio */

.audio {
    filter: blur(1.5px);
    transition: all 0.2s ease;
}

.audio:hover {
    filter: blur(0.75px);
}

#item13,
#item14,
#item15,
#item22,
#item23,
#item24 {
    background-color: #3122448a;
    border: #5a189abb 4px solid;
    border-radius: 15px;
    min-height: 400px;
    max-height: 700px;
    margin-top: 10%;

}

#item13 audio,
#item14 audio,
#item15 audio,
#item22 audio,
#item23 audio,
#item24 audio {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}




#myRange {
    position: fixed;
    bottom: 130px;
    right: -20px;

    /* Styling from ChatGPT Start */

    -webkit-appearance: none;
    appearance: none;
    transform: rotate(270deg);
    width: 130px;
    height: 8px;
    background-color: #58228f;
    border-radius: 5px;
    outline: none;
}



#myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3d1069;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 2px #000;
}

#myRange:active::-webkit-slider-thumb {
    background-color: #31085a;
}

/* Styling from Chatgpt END */


#unmuteVolume {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 29px;
    cursor: pointer;
    width: 2%;
    z-index: 100;
}

#muteVolume {
    position: fixed;
    bottom: 20px;
    right: 29px;
    cursor: pointer;
    width: 2%;
    z-index: 100;
}



/* Settings */

#settingsPage {
    display: none;
}

#settingsBackground {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 5%;
    border: #31085a 4px solid;
    border-radius: 15px;
    background-color: #3122448a;
    padding: 2%;
}

.settingsBackgroundImage {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;

}

.settingsImageStyle {
    border: 4px #31085a solid;
    cursor: pointer;
}

#settingsImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

#settingsPlayer1,
#settingsPlayer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    background-color: #3122448a;
    border-radius: 15px;
    border: #31085a 3px solid;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#settingsPlayer1 img,
#settingsPlayer2 img {
    width: 70%;
    border-radius: 15px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

#settingsPlayerBoth,
#Player1Settings {
    margin-bottom: 10%;
}

.animateChosenCharacter {
    animation: chosenCharacter 0.5s 1 alternate ease-in-out forwards;
}

@keyframes chosenCharacter {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.animateChosenCharacterBack {
    animation: chosenCharacterBack 0.5s 1 alternate ease-in-out forwards;
}

@keyframes chosenCharacterBack {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/*
#item1:hover,
#item2:hover,
#item3:hover,
#item4:hover,
#item5:hover,
#item6:hover,
#item7:hover,
#item8:hover,   
#item9:hover {
    background-color: rgb(48, 48, 48);
    border: 6px solid #000000;
    padding: 5%;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}
*/


/*#WebsideExplaination {
    display: none;
}

#headline {
    display: none;
}

#myNav {
    display: none;
}